Practica 4. El API SAX (opcional)/Ejemplos/SAXDemo4/recetaNS.dtd.ori

<!ELEMENT rec:receta (rec:titulo, rec:lista-ingredientes, rec:preparacion)>
<!ATTLIST rec:receta
        xmlns:rec CDATA #REQUIRED
	tipo CDATA #IMPLIED
	comensales CDATA #IMPLIED
	tiempoprep CDATA #IMPLIED>
<!ELEMENT rec:titulo (#PCDATA)>
<!ELEMENT rec:lista-ingredientes (rec:item+)>
<!ELEMENT rec:item (#PCDATA)>
<!ELEMENT rec:preparacion (rec:paso+)>
<!ELEMENT rec:paso (#PCDATA)>
<!ATTLIST rec:paso
	necesario (si|no) "si">
<!ENTITY acomer "Bon a petit!">
